/AndroidApplication/Memorice/*.iml
/AndroidApplication/Memorice/.gradle
/AndroidApplication/Memorice/local.properties
/AndroidApplication/Memorice/.idea/workspace.xml
/AndroidApplication/Memorice/.idea/libraries
/ConsoleApplication/Memorice/.idea/workspace.xml
/ConsoleApplication/Memorice/.idea/libraries
/AndroidApplication/Memorice/.DS_Store
/AndroidApplication/Memorice/build
/AndroidApplication/Memorice/captures
