#Android

/AndroidApplication/*.iml
/AndroidApplication.gradle
/AndroidApplication/local.properties
/AndroidApplication/.idea/workspace.xml
/AndroidApplication/.idea/libraries
/AndroidApplication.DS_Store
/AndroidApplication/build
/AndroidApplication/captures

*Console

/ConsoleApplication/.idea
/ConsoleApplication/out
/ConsoleApplication/target
