<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cvut.fel.memorice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".view.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".view.activities.EntityViewActivity"
            android:label="@string/entry_activity_title"
            android:parentActivityName=".view.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MainActivity" />
        </activity>
        <activity
            android:name=".view.activities.SettingsActivity"
            android:label="@string/title_activity_settings">

        </activity>
        <activity
            android:name=".view.activities.DictionaryInputActivity"
            android:parentActivityName=".view.activities.EntityViewActivity"
            android:label="@string/title_activity_input">
        </activity>

        <activity
            android:name=".view.activities.SequenceInputActivity"
            android:parentActivityName=".view.activities.EntityViewActivity"
            android:label="@string/title_activity_input">
        </activity>

        <activity
            android:name=".view.activities.SetInputActivity"
            android:parentActivityName=".view.activities.EntityViewActivity"
            android:label="@string/title_activity_input">
        </activity>

        <activity
            android:name=".view.activities.HelpActivity"
            android:parentActivityName=".view.activities.HelpActivity"
            android:label="@string/title_activity_help">
        </activity>

        <activity
            android:name=".view.activities.DictionaryDetailActivity"
            android:parentActivityName=".view.activities.EntityViewActivity"
            android:label="@string/title_activity_detail">
        </activity>

        <activity
            android:name=".view.activities.SequenceDetailActivity"
            android:parentActivityName=".view.activities.EntityViewActivity"
            android:label="@string/title_activity_detail">
        </activity>

        <activity
            android:name=".view.activities.SetDetailActivity"
            android:parentActivityName=".view.activities.EntityViewActivity"
            android:label="@string/title_activity_detail">
        </activity>

    </application>

</manifest>
